<p-dialog header="Resultado de la Brecha" [(visible)]="visible" [modal]="true" [style]="{width: '500px'}" (onHide)="onClose()">
  <div *ngIf="resultado">
    <ul>
      <li><b>Celda:</b> {{ resultado.celda }}</li>
      <li><b>Nivel Peligrosidad:</b> {{ resultado.nivelPeligrosidad }}</li>
      <li><b>Cantidad de Alimento:</b> {{ resultado.cantidadAlimento }}</li>
      <li><b>Averías:</b> {{ resultado.averias }}</li>
      <li><b>Nivel Seguridad:</b> {{ resultado.nivelSeguridad }}</li>
      <li><b>Dinosaurios:</b> {{ resultado.dinosaurios?.join(', ') }}</li>
      <li><b>Probabilidad de Fuga:</b> {{ resultado.probabilidadFuga }}</li>
      <li><b>Efectos:</b>
        <ul>
          <li *ngFor="let efecto of resultado.efectos">{{ efecto }}</li>
        </ul>
      </li>
    </ul>
  </div>
</p-dialog>