<app-cabecera></app-cabecera>

<p-table [value]="users" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button pButton type="button" label="Editar" icon="pi pi-pencil"
          class="p-button-text"></button>
        <button *ngIf="user.deletedAt == null" pButton type="button" label="Eliminar" icon="pi pi-trash" class="p-button-text"
          (click)="deleteUser($event, user.id)"></button>
        <button *ngIf="user.deletedAt != null" pButton type="button" label="Añadir" icon="pi pi-user-plus"
          class="p-button-success p-button-text" (click)="activateUser($event, user.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmPopup></p-confirmPopup>