<app-cabecera></app-cabecera>
<p-toast></p-toast>
<div class="celda-container">
  <p-table [value]="celdas" [loading]="loading" [responsiveLayout]="'scroll'">
    <ng-template pTemplate="header">
      <tr>
        <th>Celda</th>
        <th>Nivel Peligrosidad</th>
        <th>Cantidad de Alimento</th>
        <th>Averías</th>
        <th>Nivel Seguridad</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-celda>
      <tr>
        <td>{{ celda.id }}</td>
        <td>{{ celda.nivelPeligrosidad }}</td>
        <td>{{ celda.cantidadAlimento }}</td>
        <td>{{ celda.averias }}</td>
        <td>{{ celda.nivelSeguridad }}</td>
        <td>
          <button pButton type="button" icon="pi pi-exclamation-triangle" label="Simular Brecha"
            (click)="ejecutarBrecha(celda.id)" [disabled]="loading"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
<div *ngIf="resultadoBrecha" class="p-mt-4">
  <h3>Resultado de la Brecha en Celda {{ resultadoBrecha.celda }}</h3>
  <ul>
    <li><b>Nivel Peligrosidad:</b> {{ resultadoBrecha.nivelPeligrosidad }}</li>
    <li><b>Cantidad de Alimento:</b> {{ resultadoBrecha.cantidadAlimento }}</li>
    <li><b>Averías:</b> {{ resultadoBrecha.averias }}</li>
    <li><b>Nivel Seguridad:</b> {{ resultadoBrecha.nivelSeguridad }}</li>
    <li><b>Dinosaurios:</b> {{ resultadoBrecha.dinosaurios.join(', ') }}</li>
    <li><b>Probabilidad de Fuga:</b> {{ resultadoBrecha.probabilidadFuga }}</li>
    <li><b>Efectos:</b>
      <ul>
        <li *ngFor="let efecto of resultadoBrecha.efectos">{{ efecto }}</li>
      </ul>
    </li>
  </ul>
</div>
</div>