<app-cabecera></app-cabecera>
<p-toast></p-toast>
<div class="celda-card-container" style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center;">
  <p-card *ngFor="let celda of celdas" [header]="'Celda ' + celda.id" [ngStyle]="{width: '320px'}">
    <ng-template pTemplate="footer">
      <button pButton type="button" icon="pi pi-exclamation-triangle" label="Simular Brecha"
        (click)="confirmarBrecha($event, celda.id)" [disabled]="loading" severity="danger" style="margin-right: 0.5rem;"></button>
      <button pButton type="button" icon="pi pi-search" label="Ver Detalles"
        (click)="verDetalles(celda)"></button>
      <button *ngIf="isVeterinario" pButton type="button" severity="info" class="" icon="pi pi-search" label="Rellenar comederos"
        (click)="rellenarComedero(celda)"></button>
      <button *ngIf="isMantenimiento" pButton type="button" severity="warn" icon="pi pi-search" label="Arreglar averías"
        (click)="repararAveria(celda)"></button>
    </ng-template>
  </p-card>
</div>

<p-confirmPopup></p-confirmPopup>

<app-celda-detalle
  [celda]="celdaSeleccionada"
  [visible]="mostrarDialogo"
  [onClose]="cerrarDialogo">
</app-celda-detalle>

<app-brecha-resultado
  [resultado]="resultadoBrecha"
  [visible]="mostrarDialogoBrecha"
  [onClose]="cerrarDialogoBrecha">
</app-brecha-resultado>